html{
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    /*background: linear-gradient(72deg, cor1 1%, cor2 99%)*/
}

ul{
    padding: 0px!important;
}

#logo {
    max-width:195px;
    max-height:30px;        
    width: 90%;
    height: auto;
}


.menu_principal{
    width: 100%;
    background-color:#9370DB;
    height: 70px;
}

.header_1 {
    width: 100%;
    background-color:#9370DB;
}


main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    float: left;
    padding: 16px;
    width: 75%;
}

.redes_sociais ul li{
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 15px;
}
.redes_sociais {
    float: right;
    width: 20%;
}

.col-100{
    margin: 0 auto;
    background-color: #f1f1f1;
    width: 100%;
    float: left;
    position: relative;
}

.header_2{
    width: 980px;
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 14px;
}

.menu-urls{
    border-bottom: 3px solid #ececec;
    height: 80px;
}

.menu{
    width: 70%;
    float: left;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 17px;
    color: #4F4F4F;
}

.menu ul li a{
    color: #4F4F4F;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.menu ul li:hover{
    color: #836FFF;
    padding-bottom: 30px;
    border-bottom: 2px solid #836FFF;
}


.menu ul li a:hover{
    color: #836FFF;
    padding-bottom: 30px;
    border-bottom: 2px solid #836FFF;
}

/* Carrossel */
.content{
    height: 300px;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navegacao{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 12px;
    border: solid 2px #ffffff;
    margin: 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover{
    background-color: #ffffff;
}

.content input{
     display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: 1.5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide_1:checked ~ .s1{
    margin-left: 0;

}


#slide_2:checked ~ .s1{
    margin-left: -20%;
}

#slide_3:checked ~ .s1{
    margin-left: -40%;
}

#slide_4:checked ~ .s1{
    margin-left: -60%;
}

#slide_5:checked ~ .s1{
    margin-left: -80%;
}

.conteudo{
    margin-top: 250px;
    width: 100%;
    height: 473px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.conteudo a h1{
    margin-top: 600px;
}

.texto_destaque{
    font-size: 35px;
    color: #443d43;
}

.texto_secundario{
    font-size: 15px;
    color: #9a9a9a;
}
/* Informacoes - imagem*/

.triangulo{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    position: relative;
    background-image: url(../img/triangulo.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: bottom;
}

.informacoes{
    margin-top: 100px;
    width: 100%;
    height: 600px;
    background-color: #836fff;
    position: relative;
}

.imagem-informativa{
    width: 300px;
    height: 300px;
    position: relative;
    float: left;
    margin-left: 25%;
    border-radius: 100%;
    margin-top: 130px;
    margin-right: 40%;
    background-image: url(../img/terra.png);
    background-color:#000;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    border: 1px solid #000;
}

.conteudo-informativo{
    width: 500px;
    height: 500px;
    margin-left: 50%;
    margin-top: 30px;
    position: relative;
    background-image: url(../img/informacoes-glaucia.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.conteudo-informativo ul li{
    list-style: none;
}

.conteudo-informativo ul li p{
    font-family:monospace, sans-serif;
    color: #ffffff;
    font-size: 20px;
}
/* pq a gente? */

.conteudo-3{
    width: 100%;
    height: 550px;
    background-color: rgb(248, 248, 248);
    position: relative;
    margin-top: 20%;
    display: flex;
}

.imagem-3{
    height: 500px;
    width: 30%;
    float: right;
    position: relative;
    background-image: url(../img/pessoa.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    margin-top: 20px;
    margin-right: 10%;
}

.texto-3{
    width: 30%;
    height: 400px;
    padding-top: 70px;
    padding-left: 20%;
}

.texto-3 p{
    float: left;
    color: #333333;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}


/* Caixinhas da assinatura*/

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card_pago strong{
    color: rgb(5, 2, 29);
}
.cards a{
    text-decoration: none;
}
.cards ul{
    list-style: none;
}
.card_gratuito ul{
    text-align: left;
}

.card_pago ul{
    text-align: left;
}
.card_gratuito{
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 40px;
    margin: 30px;
    width: 350px;
    transition: all 0.3s ease-out;
    border-left: 5px solid #9370DB;
}

.card_gratuito:hover{
    box-shadow: 7px 7px 13px 0px #646264;
    cursor: pointer;
}
.card_pago:hover{
    box-shadow: 7px 7px 13px 0px #646264;
    cursor: pointer;
}
.card_pago{
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 40px;
    margin: 30px;
    width: 350px;
    transition: all 0.3s ease-out;
    border-left: 5px solid #9370DB;
}

.card_pago p{
    color: #a3a5ae;
    font-size: 16px;
}
.card_gratuito p{
    color: #a3a5ae;
    font-size: 16px;
}
   
.imagem{
    float: right;
    max-width: 64px;
    max-height: 64px;
}

/* Contato */

.contato{
    width: 100%;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 650px;
    background: linear-gradient(0deg, #e0e0e0, #ffffff 90%);
    border-bottom: 2px solid #3a3a3a;
}

.p{
    width: 100%;
    height: 40px;
    float: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.p p{
    color: #3a3a3a;
}

.imagens-sociais{
    height: 250px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-bottom: 50px;
}

.contato ul li{
    display: inline-block;
    list-style: none;
}

.img-contato{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #4b4b4b; 
    margin-left: 30px;
    background-color: rgb(253, 253, 253);
}


[img-instagram]{
    background-image: url(../img/instagram.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

[img-youtube]{
    background-image: url(../img/youtube.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

[img-email]{
    background-image: url(../img/o-email.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

[img-twitter]{
    background-image: url(../img/twitter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}



/* footer  */

.footer{
    margin: 0 auto;
    width: 100%;
    height: 200px;
    position: relative;
}

.col-2{
    font-family: Andale Mono, monospace, sans-serif;
    width: 40%;
    float: left;
    position: relative;
    text-align: center;
    padding-right: 10%;
}

.col-2 ul{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.col-2 ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
    margin-left: 30%;
    color: rgb(39, 37, 37);
}


.footer-1{
    width: 100%;
    height: 200px;
    list-style: none; 
    background-color: #f1f1f1;  
}

.footer-1 a{
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.redes_sociais-footer ul li{
    display: inline-block;
    margin-left: 10px;
}
.redes_sociais-footer{  
    position: relative;
    float: right;
    width: 40%;
    list-style: none;
    margin-right: 15%;
}

.footer-2{
    height: 10px;
    width: 100%;
    background-color: #333333;
}

/* Tela de Login */

.conteudo-login{
    width: 900px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 20px;
    position: relative;
    margin-left: 20%;
    display: flex;
}

.left-login{
    background-color: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    width: 400px;
    height: 600px;
    position: relative;
    background-image: url(../img/imagem-login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
}

.right-login{
    width: 500px;
    height: 600px;
    position: relative;
    background-color: #b278e6;
    /*backdrop-filter: blur(6px);*/
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center; 
}

.right-login p{
    font-size: 50px;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-login{
    position: relative;
    width: 500px;
    height: 400px;
    margin-top: 180px;
}

.usuario{
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: center; 
    border: 2px solid #000;
    background-image: url(../img/user.png);
    background-size: 40px;
    background-position: 360px;
    background-repeat:no-repeat;
    font-family: fantasy;
    font-size: 20px;
}

#senha{
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: center; 
    border: 2px solid #000;
    font-family: fantasy;
    font-size: 20px;
}

.enviar{
    width: 408px;
    height: 55px;
    border-radius: 50px;
    text-align: center; 
    border: 2px solid #000;
    background-image: url(../img/enter.png);
    background-size: 40px;
    background-position: 360px;
    background-repeat:no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    font-family: fantasy;
    font-size: 20px;
    background-color: #fff;
}

#olho{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 48px;
    top: 70px;
    background-image: url(../img/olho.png);
    background-size: 40px;
    background-position: center;
    background-repeat:no-repeat;
    cursor: pointer;
}

#olho:hover{
    background-image: url(../img/ver.png);
    background-size: 40px;
    background-position: center;
    background-repeat:no-repeat;    
}

