html{
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    /*background: linear-gradient(72deg, cor1 1%, cor2 99%)*/
}

ul{
    padding: 0px!important;
}

#logo {
    max-width:195px;
    max-height:30px;        
    width: 90%;
    height: auto;
}


.menu_principal{
    width: 100%;
    background-color:#9370DB;
    height: 70px;
}

.header_1 {
    width: 100%;
    background-color:#9370DB;
}


main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    float: left;
    padding: 16px;
    width: 75%;
}

.redes_sociais ul li{
    display: inline-block;
    float: left;
    list-style: none;
    margin-left: 15px;
}
.redes_sociais {
    float: right;
    width: 20%;
}

.col-100{
    margin: 0 auto;
    background-color: #f1f1f1;
    width: 100%;
    float: left;
    position: relative;
}

.header_2{
    width: 980px;
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 14px;
}

.menu-urls{
    border-bottom: 3px solid #ececec;
    height: 80px;
}

.menu{
    width: 70%;
    float: left;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 17px;
    color: #4F4F4F;
}

.menu ul li a{
    color: #4F4F4F;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.menu ul li:hover{
    color: #836FFF;
    padding-bottom: 30px;
    border-bottom: 2px solid #836FFF;
}


.menu ul li a:hover{
    color: #836FFF;
    padding-bottom: 30px;
    border-bottom: 2px solid #836FFF;
}

/* Carrossel */
.content{
    height: 300px;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navegacao{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 12px;
    border: solid 2px #ffffff;
    margin: 6px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover{
    background-color: #ffffff;
}

.content input{
     display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: 1.5s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide_1:checked ~ .s1{
    margin-left: 0;

}


#slide_2:checked ~ .s1{
    margin-left: -20%;
}

#slide_3:checked ~ .s1{
    margin-left: -40%;
}

#slide_4:checked ~ .s1{
    margin-left: -60%;
}

#slide_5:checked ~ .s1{
    margin-left: -80%;
}

.conteudo{
    margin-top: 500px;
    width: 100%;
    height: 700px;
    background-color: #ffffff;
    text-align: center;
}

.texto_destaque{
    color: #443d43;
}

.texto_secundario{
    color: #9a9a9a;
}


/* Caixinhas da assinatura*/
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_pago strong{
    color: rgb(5, 2, 29);
}
.cards a{
    text-decoration: none;
}
.cards:hover{
    cursor: pointer;
}
.cards ul{
    list-style: none;
}
.card_gratuito ul{
    text-align: left;
}

.card_pago ul{
    text-align: left;
}
.card_gratuito{
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 40px;
    margin: 30px;
    width: 400px;
    transition: all 0.3s ease-out;
    border-left: 5px solid #9370DB;
}

.card_gratuito:hover{
    box-shadow: 7px 7px 13px 0px #646264;
}
.card_pago:hover{
    box-shadow: 7px 7px 13px 0px #646264;
}
.card_pago{
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 40px;
    margin: 30px;
    width: 400px;
    transition: all 0.3s ease-out;
    border-left: 5px solid #9370DB;
}

.card_pago p{
    color: #a3a5ae;
    font-size: 16px;
}
.card_gratuito p{
    color: #a3a5ae;
    font-size: 16px;
}
   
.imagem{
    float: right;
    max-width: 64px;
    max-height: 64px;
}
   
